body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  button#cancelar {
    background-color: #d9534f;
    color: #fff;
    border: none;
  }
  
  button#agregar {
    background-color: #5bc0de;
    color: #fff;
    border: none;
  }
  